.header {
  padding: 20px 10%;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul{
  list-style: none;

}
a{
  color: antiquewhite;
  text-decoration: none;
}
ul{
  display: flex;
  gap: 5px;
}

.btn {
  padding: 7px 15px;
  background-color: #ff5665;
  color: #fff;
  border:5px ;

}